<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCiRrLJdoLsM6J7P2Znwi_B1ej85N6pSGs</string>
	<key>GCM_SENDER_ID</key>
	<string>381827995098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.consuntivazioneIris</string>
	<key>PROJECT_ID</key>
	<string>irisconsuntivazione</string>
	<key>STORAGE_BUCKET</key>
	<string>irisconsuntivazione.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381827995098:ios:320a001e5eb2f3f17b1ce3</string>
</dict>
</plist>